.list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}


.list-item li {
  padding-left: 10px;
}

.list-item li:nth-child(odd) {
  background-color: beige;
}

.list-item li.red {
  border-left: 10px solid red;
}

.list-item li.yellow {
  border-left: 10px solid yellow;
}


.list-item p {
  font-size: var(--text-font-size);
  margin-top: 0;
}


.list-item code {
  font-size: var(--text-font-size);
}


.list-item a {
  font-size: var(--text-font-size);
}
